<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ucb.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LogInActivity" />
        <activity android:name=".activity.AccessCodeActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.StartActivity" />
        <activity android:name=".activity.home.AgendaActivity" />
        <activity android:name=".activity.home.HomeActivity" />
        <activity android:name=".activity.home.SpeakersActivity" />
        <activity android:name=".activity.home.SessionActivity"/>
    	<activity android:name=".activity.home.PreferenceActivity" />
        <activity android:name=".activity.home.UserProfileActivity" />
        <activity android:name=".activity.survey.AnonySurveyActivity1" />
        <activity android:name=".activity.survey.AnonySurveyActivity2" />
        <activity android:name=".activity.survey.AnonySurveyActivity3" />
        </application>

</manifest>