<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ucb.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.ucb.ui.LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.ucb.ui.AccessCodeActivity" >
        </activity>
        <activity android:name="org.ucb.ui.survey.AnonySurveyActivity1" >
        </activity>
        <activity android:name="org.ucb.ui.survey.AnonySurveyActivity2">
        </activity>
        <activity android:name="org.ucb.ui.survey.AnonySurveyActivity3" >
        </activity>
        <activity android:name="org.ucb.ui.home.HomeActivityty" >
        </activity>
        <activity android:name="org.ucb.ui.SignUpActivity" >
        </activity>
        <activity android:name="org.ucb.ui.home.SpeakersActivityity" >
        </activity>
        <activity android:name="org.ucb.ui.StartActivity" >
        </activity>
        <activity android:name="org.ucb.ui.TabbedActivity" >
        </activity>
        <activity android:name="org.ucb.ui.preference.SettingsActivityctivity" >
        </activity>
    </application>

</manifest>